---
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import LinkButton from "@/components/LinkButton.astro";
import { SITE } from "@/config";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Header />
  <main id="main-content" class="mx-auto w-full max-w-app px-4">
    <section class="pt-12 pb-6">
      <p class="text-lg">{SITE.desc}</p>
    </section>

    <section class="pt-6 pb-6">
      <div class="flex flex-col gap-4">
        <LinkButton href="/blog" class="text-lg">
          Blog
          <IconArrowRight class="inline-block rtl:-rotate-180" />
        </LinkButton>
        <LinkButton href="/about" class="text-lg">
          About
          <IconArrowRight class="inline-block rtl:-rotate-180" />
        </LinkButton>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
