---
import Breadcrumb from "@/components/Breadcrumb.astro";
import { SITE } from "@/config";

const backUrl = SITE.showBackButton ? Astro.url.pathname : "/";
---

<Breadcrumb />
<main
  data-backUrl={backUrl}
  id="main-content"
  class="mx-auto w-full max-w-app px-4 pb-4"
>
  <slot />
</main>

<script>
  document.addEventListener("astro:page-load", () => {
    const mainContent: HTMLElement | null =
      document.querySelector("#main-content");
    const backUrl = mainContent?.dataset?.backurl;
    if (backUrl) {
      sessionStorage.setItem("backUrl", backUrl);
    }
  });
</script>
